/* CSS declarations go here */
@import '{ethersocial:dapp-styles}/dapp-styles.less';


img{
  max-width:100%;
}

.ethPrice {
  text-transform: lowercase;
  font-size: 29px;
  color: #32bcd2;
}
.ethPrice {
  text-transform: lowercase;
  font-size: 29px;
  color: #4a90e4;
}
form.createAccount {
  padding: 29px;
  background: white;
  /* color: white; */
  border: solid 1px lightgrey;
}

.section {
  padding: 17px;
  background: white;
  border: solid 1px lightgrey;
  margin-bottom: 25px;
  margin-top: 12px;
  box-shadow: 0px 0px 6px #b5b5b5;
}select.dapp-large {
   width: 100%;
 }.block-address span.dapp-identicon.dapp-tiny {
    position: relative;
    top: 4px;
  }.dapp-header {
     background: white;
     border-bottom: solid 1px lightgrey;
     padding-bottom: 18px;
   }.btn {
      color: #fff!important;
      background-color: #2aa7be!important;
      border-color: transparent;
      border: none!important;
      border-radius: 0px!important;
    }
    a{
      color:#2aa7be
    }

.ethPrice {
  text-transform: lowercase;
  font-size: 29px;
  color: #2ba7be;
}
.ethPrice {
  text-transform: lowercase;
  font-size: 29px;
  color: #2ba7be;
  font-weight: bold;
}.text-danger {
   color: black;
   font-weight: bold;
 }.lead {
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
  }table thead {
     background-color: #040404;
     color: #fafafa;
     text-transform: uppercase;
   }.ethPrice {
      text-transform: lowercase;
      font-size: 29px;
      color: #040404;
      font-weight: bold;
    }
a, a:visited, button {
  text-decoration: none;
  color: #000000!important;
  outline: 0;
}select.dapp-large {
   color: black!important;
 }span.dapp-identicon.dapp-tiny {
    position: relative;
    top: 4px;
  }.btn {
     color: #383434!important;
     background-color: #eaeaea!important;
     border-color: transparent;
     border: none!important;
     border-radius: 0px!important;
   }